h1, h3 {
  text-align: center;
}

#curr-city-input, #new-city-input, #income-input {
  display: block;
  margin-left: 25%;
  max-width: 50%;
}

#curr-city-input, #new-city-input, #income-input {
  margin-bottom: 2%;
}

#city-label {
  margin-left: 25%;
  font-size: 150%;
}

#submit-btn {
  margin-left: 25%;
  font-size: 125%;
}